<div class="modal fade in" id="{{modal_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="{{modal_title}}"></h4>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{modal_formaction}}" id="{{modal_formid}}" enctype="{{modal_part}}">

                              <input type="hidden" id="id" name="id" readonly="readonly">

                              {{modal_inputs}}
                              {{modal_images}}

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-round btn-theme" id="mandabala" value="submit"></button>
                                    <button type="button" class="btn btn-round btn-secundary" data-dismiss="modal"> Fechar </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>