body{
	background-image: none;
	background-color: #00519B;
}

/*FONTES*/

@font-face{
	font-family: "Tw Cent";
	src: url('../fonts/TCM_____.TTF');
}

@font-face{
	font-family: "Poiret_One";
	src: url('../fonts/PoiretOne-Regular.ttf');
}

@font-face{
	font-family: Brandon_thin;
	src: url('../fonts/Brandon_thin.otf');
}

@font-face{
	font-family: Brandon_regular;
	src: url('../fonts/Brandon_reg.otf');
}

@font-face{
	font-family: "Brandon_bld";
	src: url('../fonts/Brandon_bld.otf');
}

@font-face{
	font-family: "Brandon_med";
	src: url('../fonts/Brandon_med.otf');
}

@font-face{
	font-family: Dharma_Negrito;
	src: url('../fonts/DharmaGothicE_Bold_R.otf');
}

.brandon_r{
	font-family: Brandon_regular;
}

.brandon_t{
	font-family: Brandon_thin;
}

.brandon_n{
	font-family: Brandon_bld;
}

.brandon_m{
	font-family: Brandon_med;
}

.tw_cent{
	font-family: "Tw Cent";
}

.poiret{
	font-family: Poiret_One;
}

.txt_center{
	text-align: center;
}

.txt_white{
	color: white !important;
}

.txt_softdarkgrey{
	color: #555;
}


/*TEXTOS*/


.top_offset{
	margin-top: 2%;
}

.bottom_offset{
	margin-bottom: 6%;
}

.align_center{
	text-align: center;
}

.intro{
	margin-top: 1% !important;
	margin-bottom: 2% !important;
}

a.brandon_t{
	font-size: 10.5pt;
	text-align: left;
}

.apresentacao{
	text-align: justify;
}

.orn{
	border-bottom: 1px #e60000 solid;
}

.prof_text{
	float: left;
	font-size: 14pt;
}

@media screen and (max-width: 860px){
	.prof_text{
		float: none;
	}
}


/*DIV*/

.b_green{
	border: solid green 1px;
}

.top_grey{
	border-top: solid #666 1px;
}

.bottom_grey{
	border-bottom: solid #666 1px;
}

.right_offset{
	margin-right: 10%;
}

.smooth_red{
	background-color: #ff6666 !important;
}

.container2{
	padding: 2%;
}

/*LISTA*/


li ul{
	position: absolute;
	display: none !important;
	left: 100%;
	transition: all ease 0.5s !important;
	top: 0;
	z-index: 999;
}

ul li .submenu{
	display: block;
	background-color: rgba(0,81,155,1);
	text-align: center;
	/*float: right;*/
	/*top: 0;*/
}

ul li{
	position: relative;
	transition: all ease 0.5s !important;
}

li:hover ul{
	transition: all ease 0.5s !important;
	background-color: rgba(15,96,170,1);
	display: block !important;
}


/*TABELAS*/


table.striped > tbody > tr:nth-child(odd){
	background-color: #f2f2f2 !important;
}

tr{
	width: 100% !important;
}

table {
	margin-top: 10px;
}

table.responsive-table tbody{
	white-space: unset !important;
}

@media screen and (max-width: 992px){
	tr.hide-responsive{
		display: none !important;
	}
}


/*LISTA*/

ul.circular{
	list-style: circle;
}


/*LINK*/
.efeito1{
	transition: all 0.5s ease;
}

.efeito1:hover{
	/*font-size: 14pt;*/
	transform: scale(1.2) !important;
	transition: all 0.5s ease;
}


/*BOTÕES*/

a.brandon_t{
	font-size: 10.5pt;
	text-align: left;
}

a.menu{
	line-height: 20px !important;
	padding-top: 12px; 
	padding-bottom: 12px; 
	vertical-align: middle;
}

.bt_inscrever{
	background-color: #e60000 !important;
	color: white !important;
	border: solid #e60000 1px !important;
	border-radius: 0 0 0 0 !important;
	width: 311px !important;
	height: 50px;
	padding: 1% !important;
	font-size: 14pt;
	font-weight: bold !important;
	/*border: none !important;*/
	-webkit-box-shadow: none !important;
	transition: all 0.5s ease;
}

.bt_inscrever:hover{
	background-color: rgba(0,0,0,0) !important;
	color: #ff6666 !important;
	border: solid #ff6666 1px !important;
	transition: all 0.5s ease !important;
}

@media screen and (max-width: 1017px){
	.bt_responsive{
		text-align: center !important;
		width: 100px !important;
		height: 10% !important;
	}
}

.bt_date{

	background-color: #ff6666 !important;
	color: white !important;
	border-radius: 0 0 0 0 !important;
	width: 300px !important;
	height: 50px;
	padding: 0 !important;
	font-size: 14pt;
	font-weight: bold !important;
	border: none !important;
	-webkit-box-shadow: none !important;
}

.bt_date:hover,.mudacor{
	background-color: #e60000 !important;
	border: none !important;
	transition: all 0.8s ease !important;
}

@media screen and (max-width: 1360px) {
	.bt_date{
		width: 250px !important;
		border: solid white 1px !important;
	}
}

@media screen and (max-width: 1300px){
	.bt_date{
		width: 200px !important;
		border: solid white 1px !important;
	}
}

@media screen and (max-width: 985px){
	.bt_date{
		width: 150px !important;
		border: solid white 1px !important;
	}
}

@media screen and (max-width: 787px){
	.bt_date{
		width: 100px !important;
		border: solid white 1px !important;
	}
}

@media screen and (max-width: 640px){
	.bt_date{
		width: 100% !important;
		border: solid white 1px !important;
	}
}

.back{
	background-color: #ff6666 !important;
}


/*ANIMAÇÕES*/

.animate{
	animation-duration: 2s;
}

@keyframes fadeInLeft{
	from{
		opacity: 0;
		transform: translateX(-10%);
	}

	to{
		opacity: 1;
		transform: none;
		transition: ease 0.8s;
	}
}

.fadeInLeft{
	animation-name: fadeInLeft;
}

/*---------------------------------------------*/

@keyframes fadeIn{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
		transition: ease 0.8s;
	}
}

.fadeIn{
	animation-name: fadeIn;
}


/*IMAGENS*/

.info_profile{
	list-style: none;
	/*border: 1px solid #AAA;*/
	float: left;
	/*	top: 50%;
	/*transform: translateY(-50%);*/
	padding-right: 15px;
}

.info_profile li{
	float: left;
	position: relative;
	display: block;
	/*border-right: 1px solid #AAA;*/
}

.profile{
	width: 75px;
	height: 75px;
	transition: 0.8s;
	/*box-shadow: 0px 3px 3px #000;*/
}

.profile:hover{
	transition: all 0.4s ease;
	cursor: pointer;
	transform: scale(1.1);
	/*box-shadow: 5px 7px 3px #000;*/
}

@media screen and (max-width: 683px) and (min-width: 641px){
	.prof_text{
		font-size: 12pt;
	}
}

.saviani{
	width: 100%;
}

/*FOOTER*/


.ejcomp-footer:hover{
	transform: scale(1.1) !important;
	cursor: pointer !important;
	transition: all 0.5s ease !important;
}


/*MATERIALIZE*/
footer{
	position: relative !important;
	bottom: 0 !important;

}

footer.page-footer{
	background-color: rgba(0,0,0,0) !important;
	text-align: center !important;
	font-size: 16px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	font-weight: bold !important;
}

div.footer-copyright{
	background-color: rgba(0,0,0,0) !important;
}