body{
  font-family:Arial;
  background:url(../img/background2.jpg) no-repeat;
  background-image-resolution:300dpi;
  background-image-resize:6;
}

h1{
  font-size: 44pt;  
}

p{
  font-size: 22pt;
  text-indent: 30px;
  text-align: justify;
}

div{
  margin-top: 200px;  
}
